
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$stanfordred: #8B1615;
$ivory: #FFFFF8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
